@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

/* селектор для всего */
* {
    padding: 0;
    margin: 0;
    color: #090808;
    font-family: Roboto, sans-serif;
}
/* начало хэдэра */
header {
    width: 100%;
    
}
.header-image {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/34950/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb');
    /*Центрирование по вертикали и горизонтали*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.header-image h1 {
    color: white;
    text-shadow: 0 2px 3px rgba(0,0,0,0.4);
    font-size: 60px;
    font-family: 'Indie Flower', cursive;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
header nav ul li {
    padding: 40px;
    text-transform: uppercase;
}
header nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-family: 'Pangolin', cursive;
}
header nav ul li a:hover {
    color: #FFECB3;
}
header nav {
    background: #489067;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}
/* конец хэдэра */

/* блок с текстом начало */
section {
    display: flex;
}
#text-block-left {
    width: 70%;
    height: 600px;
}
#text-block-right {
    width: 30%;
    height: 600px;
}
#text-block-left {
    display: flex;
    flex-direction: column;
}
.text-block-left--main-text {
    padding: 1rem;
}
.text-block-right--side-text {
    padding: 2rem;
}
/* блок с текстом конец */

/* image gallery */


.menu {
  background: #16a085;
}

.header nav ul li a {
    transition: color 0.3s ease-in-out;
}

.hero-text {
    text-align: center; /* Центрирование текста */
    font-weight: 300; /* жирность текста */
    padding-top: 2rem; /* отступ сверху */
    padding-bottom: 2rem; /* отступ снизу */
    border-bottom: 2px solid orange;
    margin-bottom: 1rem;
    border-top: 2px solid orange;
    margin-top: 1rem;
    
}

.container {
  display: flex;
  flex-wrap: wrap;
}


.image-box {
  width: calc(100%/3);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.image-box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.image-box:hover img {
  opacity: 0.8;
}

.image-box:hover .fa {
  transform: translate(-50%, -50%) scale(1);
}

.image-box .fa {
  position: absolute;
  color: orange;
  font-size: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: white;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 2px 4px orange;
}

.green {
  background: #00E676;
}
.blue {
  background: #039BE5;
}
.red {
  background: #C2185B;
}
.orange {
    background-color: #FFC400;
}
.purple {
    background-color: #8E24AA;
}
.pink {
    background-color: #F50057;
}
.image-box * {
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

/* раздел с иконками */
.box-icons {
    height: calc(400px + 4rem);
    width: calc(800px + 4rem);
    position: relative;
    margin: 0 auto;
}

.box-icons--icon-box,
.box-icons--icon-box div {
    height: 200px;
    width: 400px;
}

#box-1 {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

#box-2 {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

#box-3 {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

#box-4 {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.box-wrapper {
    position: relative;
}

.box-wrapper p {
    text-align: center;
    width: 400px;
}

.text-bottom {
    position: absolute;
    bottom: 0.4rem;
}

.text-top {
    position: absolute;
    top: 0.4rem;
}

#img-1 {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

#img-2 {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

#img-3 {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

#img-4 {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

footer {
  padding: 150px;
  text-align: center;
  background-color: #004D40;
}

footer p {
  color: white;
}